.project

.settings/.jsdtscope

*.prefs

*.container

*.name

feature-graphic-new.jpg

feature-graphic-new.png

feature-graphic.png

icon_1024x1024.zip

icon.xcf

index-test.html

market_icon_1024x1024.png

phonegap.js

res/ios/icons/Icon-Small@3x.png

res/windows/icons/icon 1024x1024.png

res/windows/icons/icon 512x512.png

res/windows/icons/icon-windows 300x300.png

res/windows/icons/icon1024x1024.png

todo.txt

splashscreen.xcf

screenshots/sv/shot_2014-05-21_12-03-49.png

screenshots/sv/shot_2014-05-21_12-02-57.png

screenshots/sv/shot_2014-05-21_12-02-45.png

screenshots/sv/screenshot3.png

screenshots/sv/screenshot2.png

screenshots/sv/screenshot1.png

screenshots/sv/screenshot-ios-640x960.png

screenshots/sv/screenshot-ios-640x960-2.png

screenshots/sv/screenshot-ios-640x920.png

screenshots/sv/screenshot-ios-640x920-2.png

screenshots/sv/screenshot-ios-640x1136.png

screenshots/sv/screenshot-ios-640x1136-2.png

screenshots/sv/screenshot-ios-640x1096.png

screenshots/sv/screenshot-ios-640x1096-2.png

screenshots/sv/screenshot-ios-1024x768.png

screenshots/sv/Screenshot_2014-05-21-12-29-28.png

screenshots/sv/Screenshot_2014-05-21-12-29-23.png

screenshots/fi/shot_2014-05-21_12-01-18.png

screenshots/fi/shot_2014-05-21_12-00-43.png

screenshots/fi/shot_2014-05-21_12-00-28.png

res/windows/icons/icon300x300.png

res/windows/icons/icon512x512.png

screenshots/en/screenshot-ios-1024x768.png

screenshots/en/screenshot-ios-640x1096-2.png

screenshots/*