html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

body {
	font-family: 'Raleway', sans-serif;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
  	text-align: center;	
}

.gauge {
 	margin: 0 auto;
	position: fixed;
	top: -30px;
}

.gauge-dimensions {
	width: 320px; 
 	height: 260px;
}

.header {
	text-align: center; 
	font-size: 14px;
	position: fixed;
	z-index: 2;
	width:100%;	
	padding-top: 20px;		
}

.source {
	padding-top: 0px;
	font-size: 12px;
	top: 32px;	
}

.altitude {
	font-size: 12px;
	position: fixed; 
	top: 210px;	
	visibility: hidden;
}

.grey {
	font-size: 8px; 
	color: rgb(100,100,100);	
}

.valuecontainer {
	z-index:2;
	color: rgb(0,0,0); 
	text-align: center; 
	width: 100%;
	position: fixed; 
	top: 205px;	
}

.valuename {
	color: #46a700;
}

.messagecontainer {
	z-index:1;
	color: rgb(0,0,0); 
	text-align: center; 
	position: fixed; 
	top: 225px;	
	width: 100%;
}

.message {
	width: 290px;
	text-align: center;
	margin: 0 auto;
}

.exposureinfo {
	font-size: 12px;	
}

.protectioninfo {
	font-size: 11px; 
	border: 1px solid rgb(240,240,240); 
	background-color: rgb(240,240,240); 
	border-radius: 10px; 
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;	
}

.buttons {
	position: fixed; 
	bottom: 72px; /* 72px iOS, 2px Android */
 	width: 100%;
	z-index: 2;	
}

.buttoncontainer {
	width: 100%;
	border-collapse: collapse;	
}	

.button {
	color:rgb(120,120,120); 
	text-align: center;
	font-size: 25px;	
}

.button-border {
	border: 1px solid rgb(230,230,230); 
	border-radius: 30px;
	width: 25px; 
	padding: 10px;
	background-color: #ffffff;
}

.label {
	text-align: center; 
	font-size: 10px;
	padding-bottom: 5px;
	width: 50%;	
}

i.large {
	font-size: 16px;	
}

.help {
	position: fixed; 
	z-index: 2;
	width: 100%; 
	text-align: center; 
	padding-top: 45px; 
	padding-bottom: 45px; 
	color: rgb(255,255,255); 
	top: 120px;	
	visibility: hidden;	
}

.helpmessage {
	border: 1px solid rgb(200,200,200);
	border-radius: 100px;
	padding: 30px;
	background-color: rgb(255,255,255); 
	color: rgb(100,100,100);	
}

.spinner {
	z-index: 2;
	top: 145px;
	position: fixed; 
	display: none;
	width: 100%;
	text-align: center;
	font-size: 70px;	
	color: #fff293;
}

.swiper-container {
    width: 100%;
    height: 400px;
}

.data {
	width: 100%;
	border-spacing: 5px;
}

.data-label {
	font-size: 15px; 
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	color: rgb(100,100,100);
}

.value {
	text-align: left;	
	font-size: 15px;
}

.swiper-slide {
	background-color: #ffffff;	
}

.data-header {
	font-size: 14px;
	padding-top: 5px;
}

.data-sub-header {
	background-color: rgb(240,240,240);	
	padding: 5px;
	border-radius: 10px;
}


.swiper-pagination {
	padding-bottom: 70px; /* iOS 70px, 46px Android */	
}

.swiper-pagination-bullet {
	opacity: 1 !important;
	background: rgb(230,230,230) !important;
}

.swiper-pagination-bullet-active {
   background: rgb(120,120,120) !important;
}

.index1-3 {
	color: #46a700;
}

.index3-6 {
	color: #ffd800;
}

.index6-8 {
	color: #e97b00;
}

.index8-11 {
   color: #d81300;	
}

.index11 {
   color: #6b49c8;	
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	 /* IE10+ CSS styles */
	.buttons {
		bottom: 25px;	
	}
}

@media (min-width: 600px) {
	.gauge-dimensions {
		width: 420px;
		height: 340px;		
	}
	
	.valuecontainer {
		z-index:2;
		color: rgb(0,0,0); 
		text-align: center; 
		width: 100%;
		position: fixed; 
		top: 270px;
	}
	
	.altitude { 
		top: 280px;	
	}	
	
	.messagecontainer {
		z-index:1;
		color: rgb(0,0,0); 
		text-align: center; 
		position: fixed; 
		top: 290px;	
		width: 100%;
	}	
	
	.message {
		width: 390px;
		text-align: center;
		margin: 0 auto;
	}
	
	.help {
		position: fixed; 
		z-index: 2;
		width: 100%; 
		text-align: center; 
		padding-top: 45px; 
		padding-bottom: 45px; 
		color: rgb(255,255,255); 
		top: 180px;	
		visibility: hidden;	
	}
	
	.spinner {
		z-index: 2;
		top: 200px;
		position: fixed; 
		display: none;
		width: 100%;
		text-align: center;
		font-size: 90px;	
		color: #fff293;
	}
	
	.button {
		color:rgb(120,120,120); 
		text-align: center;
		font-size: 40px;	
	}
	
	/* iOS only */
	.buttons { 
		bottom: 112px;	
	}
	
	.swiper-pagination {
		padding-bottom: 110px; /* iOS 110px, Android 90px */	
	}
	
	.button-border {
		border: 1px solid rgb(230,230,230); 
		border-radius: 40px;
		width: 40px; 
		padding: 20px;
		background-color: #ffffff;
	}
	
	.label {
		text-align: center; 
		font-size: 15px;
		padding-bottom: 5px;
		width: 50%;	
	}
	
	.protectioninfo {
		font-size: 14px; 	
	}
	
	.exposureinfo {
		font-size: 14px;	
	}
}